@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    z-index: 9999;
}

.white-icon {
    transition: 0.5s;
    filter: invert(85%) sepia(13%) saturate(721%) hue-rotate(194deg) brightness(108%) contrast(101%);
}

.white-icon:hover {
    transition: 0.5s;
    filter: invert(88%) sepia(10%) saturate(2123%) hue-rotate(97deg) brightness(105%) contrast(104%);
}

.blue-icon {
    filter: invert(88%) sepia(10%) saturate(2123%) hue-rotate(97deg) brightness(105%) contrast(104%);
}

.blur-screen {
    backdrop-filter: blur(6px);
}

.link-text {
    @apply text-accent cursor-pointer;
}

.link-text:hover {
    @apply underline;
}

.text-left-foreground {
    margin-left: 0;
}@screen lg {
    .text-left-foreground {
        margin-left: -20%;
    }
}

.left-foreground {
    margin-left: -100%;
}
@screen lg {
    .left-foreground {
        margin-left: 0;
    }
}

.text-right-foreground {
    margin-right: 0;
}@screen lg {
    .text-right-foreground {
        margin-right: -20%;
    }
}

.right-foreground {
    margin-right: -100%;
}
@screen lg {
    .right-foreground {
        margin-right: 0;
    }
}

@layer utilities {
    @responsive {
        .accent-filter {
            transition: 0.5s;
            filter: invert(0%) sepia(97%) saturate(250%) hue-rotate(100deg) brightness(106%) contrast(104%);
            opacity: 0.80;
        }
        .accent-filter-transparent {
            transition: 0.5s;
            filter: invert(0%) sepia(97%) saturate(250%) hue-rotate(100deg) brightness(106%) contrast(104%);
            opacity: 0.20;
        }
    }

    @variants hover {
        .no-filter {
            filter: none;
            opacity: 1;
        }
    }
}

@import './buttons.scss';
@import './hamburguer.css';
@import './animation.css';