@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-div {
    z-index: 9999;
}

.nav {
    transition: top 0.3s;
    background-color: rgba(10, 25, 47, 0.8);
}

.bullet {
    @apply transition rounded-full bg-accent h-1 w-2 mr-4 cursor-pointer ease-in-out duration-300;
}

.bullet-text {
    @apply text-dark-white;
}

.bullet:hover,
.bullet-text:hover + .bullet{
    @apply transition transform bg-white scale-x-150 ease-in-out duration-300;
}

@layer utilities {
    @responsive {
        .accent-filter {
            transition: 0.5s;
            filter: invert(0%) sepia(97%) saturate(250%) hue-rotate(100deg) brightness(106%) contrast(104%);
            opacity: 0.80;
        }
        .accent-filter-transparent {
            transition: 0.5s;
            filter: invert(0%) sepia(97%) saturate(250%) hue-rotate(100deg) brightness(106%) contrast(104%);
            opacity: 0.20;
        }
    }

    @variants hover {
        .no-filter {
            filter: none;
            opacity: 1;
        }
    }
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: right top 0;
}

@import './buttons.scss';
@import './hamburguer.css';
@import './animation.css';
@import './icon.css';
@import './link.css';
@import './pinned-project.css';
@import './project-box.css';